.App-logo {
  height: 20vmin;
  pointer-events: none;
}
.adress {
  display: flex;
}
.Main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 10s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
